body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4a8e0;
    margin-top: 100px;
}

h1 {
    color: rgb(235, 3, 142);
}

#timeDisplay {
    font-size: 50px;
    font-weight: bold;
    color: rgb(104, 0, 49);
}