body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin-top: 100px;
}

h1 {
    color: navy;
}

#timeDisplay {
    font-size: 50px;
    font-weight: bold;
    color: darkblue;
}