body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4a8e0;
    margin-top: 100px;
}

h1 {
    color: rgb(235, 3, 142);
    border-bottom: 2px solid rgb(235, 3, 142);
}

h2 {
    color: rgb(104, 0, 49);
    margin-top: 50px;

}

h3 {
    color: rgb(104, 0, 49);
    margin-top: 30px;
}

#timeDisplay {
    font-size: 50px;
    font-weight: bold;
    color: rgb(104, 0, 49);
}

#demo {
    font-size: 40px;
    font-weight: bold;
    color: rgb(104, 0, 49);
}